
// Main colors
$beige : #E3E3E3;
$grey1 : #2C324F;
$grey2 : #1F253E;
// Other colors
$blue1 : #21BFD7;
$blue2 : #2C84F0;
$purple : #A626FB;
$green : #21D78F;
$grey3 : #858AA0;
$red : #D01B1B;
$dark : #0A1028;
$oclock : #22c2a7;
$oclock1 : #fffcda;
$sololearn : #1abc9c;
$linkedin : #0476b3;
$codecademy : #F65A5B;
// language colors
$html : #ff8c4e;
$css : #3899d4;
$js : #ffde56;
$php : #505c91;
// Softs colors
$bootstrap: #563d7c;
$sass: #cb689a;
$compass: #fc272b;
$gulp: #d04546;
$vanilla: #e6d9a7;
/// General ///

/// color for language skill
.tag-html {
	color: $html;
}
.tag-css {
	color: $css;
}
.tag-js {
	color: $js;
}
.tag-php {
	color: $php;
}
.tag-bootstrap {
  color: $bootstrap;
}
.tag-sass {
  color: $sass;
}
.tag-compass {
  color: $compass;
}
.tag-gulp {
  color: $gulp;
}
.tag-vanilla {
  color: $vanilla;
}
.tag-oclock {
  color: $oclock;
}

body {
	background-color: $grey1;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, p {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

//////// NAV BAR ///////

nav {
	//display: flex;
  width: 100%;
	//height: 60px;
  background-color: $grey2;
  ul {
    margin: 0px;
    padding: 0px;
		flex-direction: row;
		display: flex;
  }
  li {
    list-style-type: none;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		&:hover a {
			padding: 20px 30px 19px 30px;
			border-bottom: 2px solid $beige;
		}
  }
  a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: $beige;
		font-family: 'Lato', sans-serif;
  }
	input[type=checkbox]{
		display: none;
	}
}

.menu-mobile {
	display: none;
}

//////// FOOTER ///////

footer {
	height: 60px;
  background-color: $grey2;
}

//////// CATEGORY ///////

.section {
	background-color: $grey3;
}

.message {
	display: flex;
	align-items: center;
}

.message .avatar {
	width: 60px;
	border-radius: 50%;
	border: 4px solid $beige;
	margin: 20px 20px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.message .text {
	font-family: 'Jua', cursive;
	background: $beige;
	color: $grey1;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
	border-radius: 8px 8px 8px 0;
	padding: 10px 20px;
	text-align: left;
	margin-right: 10px;
}

.js-message-1 {
	position: relative;
	//z-index: 1;
}

.js-message-2 {
	position: absolute;
	//z-index: 2;
}

.content-message {
	display: flex;
}

/// animation levitation

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
}

/// animation chargement tchat

.bubble-spinner > div {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bubble-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.bubble-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

//////// PORTOFOLIO SECTION ///////

.container {
	max-width: 1024px;
	padding: 20px 20px;
	margin: 20px auto;
}

.portfolio {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	grid-auto-flow: row dense;
}

.projects {
	color: $beige;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 0 0 15px 15px;
	background-color: $grey2;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
	h2 {
		font-size: 1em;
	}
	h4 {
		font-size: 0.75em;
		color: $grey3;
	}
	.project_img {
		width: 100%;
		height: auto;
	}
	.project_date, .project_name, .project_tag {
		margin: 10px 10px 10px 10px;

	}
	.project_tag {
		ul {
			margin: 0;
  		overflow: hidden;
			list-style: none;
	  	padding: 0;
		}
		li {
  	float: left;
		margin: 2px 2px;
		}
		a {
			z-index: 10;
		}
		.tag {
			padding: 4px 4px 3px 4px;
			font-size: 0.70em;
			font-family: 'Roboto', sans-serif;
  		background-color: $dark;
  		border-radius: 5px;
  		text-decoration: none;
  		-webkit-transition: color 0.2s;
			&:hover {
  			color: $beige;
				&.tag-html {
					background-color: $html;
				}
				&.tag-css {
					background-color: $css;
				}
				&.tag-js {
					background-color: $js;
				}
				&.tag-bootstrap {
					background-color: $bootstrap;
				}
        &.tag-sass {
          background-color: $sass;
        }

			}
		}
		// add here color softs or langages
		.tag-html {
			color: $html;
		}
		.tag-css {
			color: $css;
		}
		.tag-js {
			color: $js;
		}
		.tag-bootstrap {
			color: $bootstrap;
		}
    .tag-sass {
      color: $sass;
    }
	}

	.project_title {
		margin: 15px 10px;
		font-family: 'Lato', sans-serif;
		color: $grey3;
	}
}

.project_description {
	overflow: hidden;

	.project_tag {
		ul {
			margin: 0;
  		overflow: hidden;
			list-style: none;
	  	padding: 0;
		 }
		li {
  	float: left;
		margin: 2px 2px;
		}
	}

	.tag {
		padding: 4px 4px 3px 4px;
		font-size: 0.70em;
		font-family: 'Roboto', sans-serif;
		background-color: $dark;
		border-radius: 5px;
		text-decoration: none;
		-webkit-transition: color 0.2s;
		&:hover {
			color: $beige;
			text-shadow: 0 1px 2px rgba(25,25,25,0.5);
			&.tag-html {
				background-color: $html;
			}
			&.tag-css {
				background-color: $css;
			}
			&.tag-js {
				background-color: $js;
			}
		}
	}
	.tag-html {
		color: $html;
	}
	.tag-css {
		color: $css;
	}
	.tag-js {
		color: $js;
	}
}

.projects .project_description {
	display: none;
}

.project_description {
	margin: 1em 0em;
	padding: 1em;
	background-color: $grey2;
	border-radius: 15px;
	h3 {
		color: $beige;
		margin: 10px 0 10px 0;
	}
	p {
		color: $grey3;
		margin: 20px 0 20px 0;
	}
	a {
		text-decoration: none;
	}
	.link {
		text-align: center;
		margin-top: 10px;
	}
}

.js-item {
	z-index: 0;
}

//////// ABOUT SECTION ///////

.about_image {
	background-position: 50% 75%;
  background-size: cover;
	height: 600px;
	background-image: url('../img/test.jpg');
}

.content-name {
  display: flex;
  flex-direction: column;
	color : white;
	h1 {
		margin: 10px 20px;
	}
	> h3 {
		margin: 0 20px;
	}
  > p {
		margin: 20px 10px;
		text-align: center;
    font-size: 1em;
    line-height: 1.5em;
  }
}

.p-oclock {
    background-color: $grey3;
    padding: 10px;
    p {
			line-height: 1.75;
      text-align: center;
      color: $oclock1;
    }
  }

.oclock {
    margin-left: 2px;
    padding: 3px 10px;
    font-family: 'futurama', sans-serif;
    font-weight: bold;
    border-radius: 15px;
    -webkit-transition: color 0.2s;
    text-decoration: none;
    background-color: $oclock;
    color: $oclock1;
    &:hover {
      background-color: $oclock1;
      color: $oclock;
    }
}

.about_tag {
  padding: 3px 10px;
  font-family: 'Roboto', sans-serif;
  background-color: $dark;
  text-decoration: none;
  border-radius: 15px;
  -webkit-transition: color 0.2s;
	.fab, .fas, .far, .fa {
	  margin-right: 5px;
	}
  a {
    text-decoration: none;
  }
  &:hover {
    a, .fab, .fas, .far, .fa {
      color: $beige;
    }
    &.tag-html {
      background-color: $html;
    }
    &.tag-css {
      background-color: $css;
    }
    &.tag-js {
      background-color: $js;
    }
    &.tag-bootstrap {
      background-color: $bootstrap;
    }
    &.tag-sass {
      background-color: $sass;
    }
    &.tag-compass {
      background-color: $compass;
    }
    &.tag-gulp {
      background-color: $gulp;
    }
    &.tag-vanilla {
      background-color: $vanilla;
    }
  }
}
/*
.fab, .fas, .far, .fa {
  margin-right: 5px;
}
*/
.skill {
	background-color: $grey2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 0 0 15px 15px;
    .skill-lang, .skill-lib, .skill-learn {
				display: flex;
				align-items: center;
		    margin: 20px;
        max-width: 260px;
	     }
	  .flex-container {
      padding: 0;
      margin: 0;
    	display: flex;
      flex-wrap: wrap;
    	flex-direction: column;
	   }
	  .flex-item {
      padding: 5px;
    	display: flex;
      flex-wrap: wrap;
    	align-items: center;
    	justify-content: space-between;
      p  {
		      padding-right: 15px;
		  }
	   }
     .flex-container-2 {
       padding: 0;
       margin: 0;
     	display: flex;
      flex-wrap: wrap;
     	flex-direction: row;
      justify-content: center;
 	   }
		 .skill-learn {

			.learn-icon {
				display: flex;
		    flex-direction: column;
		    width: 90px;
		    align-items: center;
			}
			ul {
		 		margin: 0;
		 		padding: 0;
		 		display: flex;
		 		flex-direction: column;
		 		list-style-type: none;
		 	}
		 	li {
		 		margin: 10px;
		 	}
		 	a	{
		 		color: inherit;
		 		text-decoration: none;
		 		//margin-top: 10px;
		 	}
			.sololearn-icon {
				color: $sololearn;
			}
			.codecademy-icon {
				color: $codecademy;
			}
	 	}

}

.prog-html {
    progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 3px;
    background: $dark;
		border-radius: 15px;
    border-style: none;
		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.1);
  }
    progress::-webkit-progress-bar {
        background: $dark;
    		border-radius: 15px;
  }
    progress::-webkit-progress-value {
		border-radius: 15px;
		padding: 2px;
    background: $html;
  }
    progress::-moz-progress-bar {
    background: $html;
		border-radius: 15px;
	}
}
.prog-css {
    progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 3px;
    background: $dark;
		border-radius: 15px;
    border-style: none;
		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.1);
  }
    progress::-webkit-progress-bar {
        background: $dark;
    		border-radius: 15px;
  }
    progress::-webkit-progress-value {
		border-radius: 15px;
		padding: 2px;
    background: $css;
  }
    progress::-moz-progress-bar {
    background: $css;
		border-radius: 15px;
	}
}
.prog-js {
    progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 3px;
    background: $dark;
		border-radius: 15px;
    border-style: none;
		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.1);
  }
    progress::-webkit-progress-bar {
        background: $dark;
    		border-radius: 15px;
  }
    progress::-webkit-progress-value {
		border-radius: 15px;
		padding: 2px;
    background: $js;
  }
    progress::-moz-progress-bar {
    background: $js;
		border-radius: 15px;
	}
}
.prog-php {
    progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 3px;
    background: $dark;
		border-radius: 15px;
    border-style: none;
		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.1);
  }
    progress::-webkit-progress-bar {
        background: $dark;
    		border-radius: 15px;
  }
    progress::-webkit-progress-value {
		border-radius: 15px;
		padding: 2px;
    background: $php;
  }
    progress::-moz-progress-bar {
    background: $php;
		border-radius: 15px;
	}
}

//////// CONTACT SECTION ///////

.contact {
	.contact-p {
		color: $beige;
		text-align: center;
		margin: 10px 10px 30px 10px;
	}
	.github-icon {
		color: $php;
	}
	.linkedin-icon {
		color: $linkedin;
	}
	.contact-icon {
		display: flex;
		flex-direction: column;
		width: 90px;
		align-items: center;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		list-style-type: none;
		justify-content: center;
	}
	li {
		margin: 10px;
	}
	a	{
		color: inherit;
		text-decoration: none;
		margin-top: 10px;
	}
}

///Responsive ///

input[type=checkbox]:checked ~ ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			font-size: 0.85em;
			li {
				&:hover a {
		      padding: 15px 30px 13px 30px;
					border-bottom: 2px solid $beige;
		    }
			}
		}

@media screen and (max-width: 355px){
	.menu-mobile {
		color: $beige;
		display: flex;
		font-family: 'Lato', sans-serif;
		align-items: center;
		justify-content: center;
		height: 60px;
	}
	nav {
		flex-direction: column;
		height: inherit;
		align-items: center;
		justify-content: center;
		ul{
		display: none;
		background-color: $grey1;
		a {
			display: flex;
			padding: 15px 60px;
			background-color: $grey1;
			}
		}
	}
}

@media screen and (min-width: 364px) {
	.portfolio {
		grid-template-columns: repeat(2, 1fr);
	}
	.project_description {
		grid-column: span 2;
	}
}

@media screen and (max-width: 500px){
	.skill .skill-learn ul {
		flex-direction: row;
	}
}

@media screen and (min-width: 646px) {
	.portfolio {
		grid-template-columns: repeat(3, 1fr);
	}
	.project_description {
		grid-column: span 3;
	}
}

@media screen and (min-width: 1040px) {
	.portfolio {
		grid-template-columns: repeat(4, 1fr);
	}
	.project_description {
		grid-column: span 4;
	}
}
