body {
  background-color: #2C324F;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, p {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0; }

nav {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #1F253E; }
  nav ul {
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    display: flex; }
  nav li {
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    nav li:hover a {
      padding: 15px 30px 20px 30px; }
  nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #E3E3E3;
    font-family: 'Lato', sans-serif; }
  nav input[type=checkbox] {
    display: none; }

.menu-mobile {
  display: none; }

footer {
  margin-top: 50px;
  width: 100%;
  height: 60px;
  background-color: #1F253E; }

.message {
  display: flex;
  align-items: center;
  background-color: #858AA0; }

.message .avatar {
  width: 60px;
  border-radius: 50%;
  border: 2px solid #E3E3E3;
  margin: 20px 20px; }

.message .text {
  background: #E3E3E3;
  color: black;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px 8px 8px 0;
  padding: 10px 20px;
  text-align: left;
  max-width: 300px;
  margin: 0; }

.secret {
  display: none; }

.message-1 {
  top: 20px;
  left: 30px; }

.bubble-spinner > div {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.bubble-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.bubble-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.container {
  max-width: 1024px;
  padding: 20px 20px;
  margin: 20px auto; }

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-auto-flow: row dense; }

.projects {
  color: #E3E3E3;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
  background-color: #1F253E;
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2); }
  .projects h2 {
    font-size: 1em; }
  .projects h4 {
    font-size: 0.75em;
    color: #858AA0; }
  .projects h5 {
    font-size: 0.75em;
    color: #609; }
  .projects .project_img {
    width: 100%;
    height: auto; }
  .projects .project_date, .projects .project_name, .projects .project_tag {
    margin: 10px 0 10px 15px; }
  .projects .project_title {
    margin: 15px;
    font-family: 'Lato', sans-serif;
    color: #858AA0; }

.project_description {
  overflow: hidden; }

.projects .project_description {
  display: none; }

.project_description {
  margin: 1em 0em;
  padding: 1em;
  background-color: #1F253E;
  border-radius: 15px; }
  .project_description h3 {
    color: #E3E3E3;
    margin: 10px 0 10px 0; }
  .project_description p {
    color: #858AA0;
    margin: 20px 0 20px 0; }
  .project_description a {
    color: #21D78F; }

/*
input[type=checkbox]:checked ~ ul {
		display: flex;
		flex-direction: column;
		//width: 100%;
	}
	*/
input[type=checkbox]:checked ~ ul {
  display: flex;
  flex-direction: column; }

.test {
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 355px) {
  .menu-mobile {
    color: #E3E3E3;
    display: flex;
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #D01B1B;
    height: 60px;
    width: 100%; }

  nav {
    flex-direction: column; }
    nav ul {
      display: none; }
      nav ul a {
        padding: 20px 0;
        align-items: center;
        justify-content: center; }
    nav li, nav li a {
      width: 100%; } }
@media screen and (min-width: 364px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr); }

  .project_description {
    grid-column: span 2; } }
@media screen and (min-width: 646px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr); }

  .project_description {
    grid-column: span 3; } }
@media screen and (min-width: 1040px) {
  .portfolio {
    grid-template-columns: repeat(4, 1fr); }

  .project_description {
    grid-column: span 4; } }

/*# sourceMappingURL=style.css.map */
