// Main colors
$beige : #E3E3E3;
$grey1 : #2C324F;
$grey2 : #1F253E;
// Other colors
$blue1 : #21BFD7;
$blue2 : #2C84F0;
$purple : #A626FB;
$green : #21D78F;
$grey3 : #858AA0;
$red : #D01B1B;

/// General ///

body {
	background-color: $grey1;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, p {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

/// Nav bar ///

nav {
  width: 100%;
	height: 60px;
  background-color: $grey2;
  ul {
    margin: 0px;
    padding: 0px;
    //overflow: hidden;
  }
  li {
    list-style-type: none;
    float: left;
    &:hover a {
      padding: 15px 30px 20px 30px;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: $beige;
		font-family: 'Lato', sans-serif;
  }
}

footer {
	margin-top: 50px;
	width: 100%;
	height: 60px;
  background-color: $grey2;
}

//////// category ///////

.message {
	display: flex;
  align-items: center;
	background-color: $grey3;
}

.message .avatar {
	width: 60px;
	border-radius: 50%;
	border: 2px solid $beige;
	margin: 20px 20px;
}

.message .text {
	background: $beige;
	color: black;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
	border-radius: 8px 8px 8px 0;
	padding: 10px 20px;
	text-align: left;
	max-width: 300px;
	margin: 0;
}

.secret {
	display: none;
}

.message-1 {
		position: static;
		top: 20px;
		left: 30px;
}

/// animation points discution ///

.bubble-spinner > div {
  width: 10px;
  height: 10px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bubble-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.bubble-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/// design grille Portofolio ///

.container {
	max-width: 1024px;
	padding: 20px 20px;
	margin: 20px auto;
}

.portfolio {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	grid-auto-flow: row dense;
}

.projects {
	color: $beige;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 0 0 15px 15px;
	background-color: $grey2;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
	h2 {
		font-size: 1em;
	}
	h4 {
		font-size: 0.8em;
		color: $grey3;
	}
	.project_img {
		width: 100%;
		height: auto;
	}
	.project_date {
		margin: 0.5em;
	}

	.project_name {
		margin: 0.5em;
	}

	.project_tag {
		margin: 0.5em;
	}

	.project_title {
		margin: 1em;
		font-family: 'Lato', sans-serif;
		color: $grey3;
	}
}



.project_description {
	overflow: hidden;
}

.projects .project_description {
	display: none;
}

.project_description {
	margin: 1em 0em;
	padding: 1em;
	background-color: $grey2;
	border-radius: 15px;
}

@media screen and (min-width: 640px) {
	.portfolio {
		grid-template-columns: repeat(4, 1fr);
	}
	.project_description {
		grid-column: span 4;
	}
}
