$darkImperialBlue: #004E64;
$magicMint: #9FFFCB;
$pastelGreen : #7AE582;
$cerulean : #007EA7;
$prussianBlue : #003249;
$black : #151000;
$grey : #ccc;
$white : #FFF;




//////////////////////////////////////////////////////////////////

body {
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0 0.7em;
	padding: 0.5em;
	color: $black;
}

p {
	color: $grey;
}

nav {
  width: 100%;
	height: 60px;
  background-color: rgb(43, 43, 43);
  ul {
    margin: 0px;
    padding: 0px;
    //overflow: hidden;
  }
  li {
    list-style-type: none;
    float: left;
    &:hover a {
      padding: 15px 30px 20px 30px;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: $white;
  }
}

.category {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 60px;
	margin-top: 30px;
  background-color: #D9D1CD;
	border-radius: 0 0 15px 15px;
}

.patch {
	margin-top: 0px;
	border-radius: 0 0 15px 15px;
}

.description {
	position: relative;
	z-index: 1;
	height: 500px;
	margin-top: -15px;
	background-color: $white;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}

.about-descr {
	padding: 1em;
	color: $black;
}

footer {
	margin-top: 50px;
	width: 100%;
	height: 60px;
  background-color: rgb(43, 43, 43);
}

/////////////////////////////////////////////////////////////////

.project_description {
	margin: 1em;
}

.project_body {
	overflow: hidden;
}

.portfolio {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	grid-auto-flow: row dense;
}

.container {
	max-width: 1024px;
	padding: 0 20px;
	margin: 0 auto;
}

.project_img {
	width: 100%;
	height: auto;
}

.projects {
	//counter-increment: portfolio;
	margin-top: 50px;
	cursor: pointer;
	border-radius: 0 0 15px 15px;
	background-color: $white;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}

.projects .project_body {
	display: none;
}

.project_body {
	margin: 1em 0em;
	padding: 1em;
	background-color: #FFF;
	border-radius: 15px;
}

@media screen and (min-width: 640px) {
	.portfolio {
		grid-template-columns: repeat(4, 1fr);
	}
	.project_body {
		grid-column: span 4;
	}
}
