/* line 33, ../sass/style.scss */
.tag-html {
  color: #ff8c4e;
}

/* line 36, ../sass/style.scss */
.tag-css {
  color: #3899d4;
}

/* line 39, ../sass/style.scss */
.tag-js {
  color: #ffde56;
}

/* line 42, ../sass/style.scss */
.tag-php {
  color: #505c91;
}

/* line 45, ../sass/style.scss */
.tag-bootstrap {
  color: #563d7c;
}

/* line 48, ../sass/style.scss */
.tag-sass {
  color: #cb689a;
}

/* line 51, ../sass/style.scss */
.tag-compass {
  color: #fc272b;
}

/* line 54, ../sass/style.scss */
.tag-gulp {
  color: #d04546;
}

/* line 57, ../sass/style.scss */
.tag-vanilla {
  color: #e6d9a7;
}

/* line 60, ../sass/style.scss */
.tag-oclock {
  color: #22c2a7;
}

/* line 64, ../sass/style.scss */
body {
  background-color: #2C324F;
  margin: 0;
  padding: 0;
}

/* line 70, ../sass/style.scss */
h1, h2, h3, h4, h5, p {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* line 78, ../sass/style.scss */
nav {
  width: 100%;
  background-color: #1F253E;
}
/* line 83, ../sass/style.scss */
nav ul {
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  display: flex;
}
/* line 89, ../sass/style.scss */
nav li {
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* line 94, ../sass/style.scss */
nav li:hover a {
  padding: 20px 30px 19px 30px;
  border-bottom: 2px solid #E3E3E3;
}
/* line 99, ../sass/style.scss */
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: #E3E3E3;
  font-family: 'Lato', sans-serif;
}
/* line 106, ../sass/style.scss */
nav input[type=checkbox] {
  display: none;
}

/* line 111, ../sass/style.scss */
.menu-mobile {
  display: none;
}

/* line 117, ../sass/style.scss */
footer {
  height: 60px;
  background-color: #1F253E;
}

/* line 124, ../sass/style.scss */
.section {
  background-color: #858AA0;
}

/* line 128, ../sass/style.scss */
.message {
  display: flex;
  align-items: center;
}

/* line 133, ../sass/style.scss */
.message .avatar {
  width: 60px;
  border-radius: 50%;
  border: 4px solid #E3E3E3;
  margin: 20px 20px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

/* line 142, ../sass/style.scss */
.message .text {
  font-family: 'Jua', cursive;
  background: #E3E3E3;
  color: #2C324F;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px 8px 8px 0;
  padding: 10px 20px;
  text-align: left;
  margin-right: 10px;
}

/* line 153, ../sass/style.scss */
.js-message-1 {
  position: relative;
}

/* line 158, ../sass/style.scss */
.js-message-2 {
  position: absolute;
}

/* line 163, ../sass/style.scss */
.content-message {
  display: flex;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1);
    transform: translatey(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
}
/* line 186, ../sass/style.scss */
.bubble-spinner > div {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

/* line 196, ../sass/style.scss */
.bubble-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

/* line 201, ../sass/style.scss */
.bubble-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 223, ../sass/style.scss */
.container {
  max-width: 1024px;
  padding: 20px 20px;
  margin: 20px auto;
}

/* line 229, ../sass/style.scss */
.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-auto-flow: row dense;
}

/* line 236, ../sass/style.scss */
.projects {
  color: #E3E3E3;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
  background-color: #1F253E;
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
}
/* line 243, ../sass/style.scss */
.projects h2 {
  font-size: 1em;
}
/* line 246, ../sass/style.scss */
.projects h4 {
  font-size: 0.75em;
  color: #858AA0;
}
/* line 250, ../sass/style.scss */
.projects .project_img {
  width: 100%;
  height: auto;
}
/* line 254, ../sass/style.scss */
.projects .project_date, .projects .project_name, .projects .project_tag {
  margin: 10px 10px 10px 10px;
}
/* line 259, ../sass/style.scss */
.projects .project_tag ul {
  margin: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
}
/* line 265, ../sass/style.scss */
.projects .project_tag li {
  float: left;
  margin: 2px 2px;
}
/* line 269, ../sass/style.scss */
.projects .project_tag a {
  z-index: 10;
}
/* line 272, ../sass/style.scss */
.projects .project_tag .tag {
  padding: 4px 4px 3px 4px;
  font-size: 0.70em;
  font-family: 'Roboto', sans-serif;
  background-color: #0A1028;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
/* line 280, ../sass/style.scss */
.projects .project_tag .tag:hover {
  color: #E3E3E3;
}
/* line 282, ../sass/style.scss */
.projects .project_tag .tag:hover.tag-html {
  background-color: #ff8c4e;
}
/* line 285, ../sass/style.scss */
.projects .project_tag .tag:hover.tag-css {
  background-color: #3899d4;
}
/* line 288, ../sass/style.scss */
.projects .project_tag .tag:hover.tag-js {
  background-color: #ffde56;
}
/* line 291, ../sass/style.scss */
.projects .project_tag .tag:hover.tag-bootstrap {
  background-color: #563d7c;
}
/* line 294, ../sass/style.scss */
.projects .project_tag .tag:hover.tag-sass {
  background-color: #cb689a;
}
/* line 301, ../sass/style.scss */
.projects .project_tag .tag-html {
  color: #ff8c4e;
}
/* line 304, ../sass/style.scss */
.projects .project_tag .tag-css {
  color: #3899d4;
}
/* line 307, ../sass/style.scss */
.projects .project_tag .tag-js {
  color: #ffde56;
}
/* line 310, ../sass/style.scss */
.projects .project_tag .tag-bootstrap {
  color: #563d7c;
}
/* line 313, ../sass/style.scss */
.projects .project_tag .tag-sass {
  color: #cb689a;
}
/* line 318, ../sass/style.scss */
.projects .project_title {
  margin: 15px 10px;
  font-family: 'Lato', sans-serif;
  color: #858AA0;
}

/* line 325, ../sass/style.scss */
.project_description {
  overflow: hidden;
}
/* line 329, ../sass/style.scss */
.project_description .project_tag ul {
  margin: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
}
/* line 335, ../sass/style.scss */
.project_description .project_tag li {
  float: left;
  margin: 2px 2px;
}
/* line 341, ../sass/style.scss */
.project_description .tag {
  padding: 4px 4px 3px 4px;
  font-size: 0.70em;
  font-family: 'Roboto', sans-serif;
  background-color: #0A1028;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
/* line 349, ../sass/style.scss */
.project_description .tag:hover {
  color: #E3E3E3;
  text-shadow: 0 1px 2px rgba(25, 25, 25, 0.5);
}
/* line 352, ../sass/style.scss */
.project_description .tag:hover.tag-html {
  background-color: #ff8c4e;
}
/* line 355, ../sass/style.scss */
.project_description .tag:hover.tag-css {
  background-color: #3899d4;
}
/* line 358, ../sass/style.scss */
.project_description .tag:hover.tag-js {
  background-color: #ffde56;
}
/* line 363, ../sass/style.scss */
.project_description .tag-html {
  color: #ff8c4e;
}
/* line 366, ../sass/style.scss */
.project_description .tag-css {
  color: #3899d4;
}
/* line 369, ../sass/style.scss */
.project_description .tag-js {
  color: #ffde56;
}

/* line 374, ../sass/style.scss */
.projects .project_description {
  display: none;
}

/* line 378, ../sass/style.scss */
.project_description {
  margin: 1em 0em;
  padding: 1em;
  background-color: #1F253E;
  border-radius: 15px;
}
/* line 383, ../sass/style.scss */
.project_description h3 {
  color: #E3E3E3;
  margin: 10px 0 10px 0;
}
/* line 387, ../sass/style.scss */
.project_description p {
  color: #858AA0;
  margin: 20px 0 20px 0;
}
/* line 391, ../sass/style.scss */
.project_description a {
  text-decoration: none;
}
/* line 394, ../sass/style.scss */
.project_description .link {
  text-align: center;
  margin-top: 10px;
}

/* line 400, ../sass/style.scss */
.js-item {
  z-index: 0;
}

/* line 406, ../sass/style.scss */
.about_image {
  background-position: 50% 75%;
  background-size: cover;
  height: 600px;
  background-image: url("../img/test.jpg");
}

/* line 413, ../sass/style.scss */
.content-name {
  display: flex;
  flex-direction: column;
  color: white;
}
/* line 417, ../sass/style.scss */
.content-name h1 {
  margin: 10px 20px;
}
/* line 420, ../sass/style.scss */
.content-name > h3 {
  margin: 0 20px;
}
/* line 423, ../sass/style.scss */
.content-name > p {
  margin: 20px 10px;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 431, ../sass/style.scss */
.p-oclock {
  background-color: #858AA0;
  padding: 10px;
}
/* line 434, ../sass/style.scss */
.p-oclock p {
  line-height: 1.75;
  text-align: center;
  color: #fffcda;
}

/* line 441, ../sass/style.scss */
.oclock {
  margin-left: 2px;
  padding: 3px 10px;
  font-family: 'futurama', sans-serif;
  font-weight: bold;
  border-radius: 15px;
  -webkit-transition: color 0.2s;
  text-decoration: none;
  background-color: #22c2a7;
  color: #fffcda;
}
/* line 451, ../sass/style.scss */
.oclock:hover {
  background-color: #fffcda;
  color: #22c2a7;
}

/* line 457, ../sass/style.scss */
.about_tag {
  padding: 3px 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #0A1028;
  text-decoration: none;
  border-radius: 15px;
  -webkit-transition: color 0.2s;
}
/* line 464, ../sass/style.scss */
.about_tag .fab, .about_tag .fas, .about_tag .far, .about_tag .fa {
  margin-right: 5px;
}
/* line 467, ../sass/style.scss */
.about_tag a {
  text-decoration: none;
}
/* line 471, ../sass/style.scss */
.about_tag:hover a, .about_tag:hover .fab, .about_tag:hover .fas, .about_tag:hover .far, .about_tag:hover .fa {
  color: #E3E3E3;
}
/* line 474, ../sass/style.scss */
.about_tag:hover.tag-html {
  background-color: #ff8c4e;
}
/* line 477, ../sass/style.scss */
.about_tag:hover.tag-css {
  background-color: #3899d4;
}
/* line 480, ../sass/style.scss */
.about_tag:hover.tag-js {
  background-color: #ffde56;
}
/* line 483, ../sass/style.scss */
.about_tag:hover.tag-bootstrap {
  background-color: #563d7c;
}
/* line 486, ../sass/style.scss */
.about_tag:hover.tag-sass {
  background-color: #cb689a;
}
/* line 489, ../sass/style.scss */
.about_tag:hover.tag-compass {
  background-color: #fc272b;
}
/* line 492, ../sass/style.scss */
.about_tag:hover.tag-gulp {
  background-color: #d04546;
}
/* line 495, ../sass/style.scss */
.about_tag:hover.tag-vanilla {
  background-color: #e6d9a7;
}

/*
.fab, .fas, .far, .fa {
  margin-right: 5px;
}
*/
/* line 505, ../sass/style.scss */
.skill {
  background-color: #1F253E;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 0 0 15px 15px;
}
/* line 512, ../sass/style.scss */
.skill .skill-lang, .skill .skill-lib, .skill .skill-learn {
  display: flex;
  align-items: center;
  margin: 20px;
  max-width: 260px;
}
/* line 518, ../sass/style.scss */
.skill .flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* line 525, ../sass/style.scss */
.skill .flex-item {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* line 531, ../sass/style.scss */
.skill .flex-item p {
  padding-right: 15px;
}
/* line 535, ../sass/style.scss */
.skill .flex-container-2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
/* line 545, ../sass/style.scss */
.skill .skill-learn .learn-icon {
  display: flex;
  flex-direction: column;
  width: 90px;
  align-items: center;
}
/* line 551, ../sass/style.scss */
.skill .skill-learn ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
/* line 558, ../sass/style.scss */
.skill .skill-learn li {
  margin: 10px;
}
/* line 561, ../sass/style.scss */
.skill .skill-learn a {
  color: inherit;
  text-decoration: none;
}
/* line 566, ../sass/style.scss */
.skill .skill-learn .sololearn-icon {
  color: #1abc9c;
}
/* line 569, ../sass/style.scss */
.skill .skill-learn .codecademy-icon {
  color: #F65A5B;
}

/* line 577, ../sass/style.scss */
.prog-html progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 3px;
  background: #0A1028;
  border-radius: 15px;
  border-style: none;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.1);
}
/* line 586, ../sass/style.scss */
.prog-html progress::-webkit-progress-bar {
  background: #0A1028;
  border-radius: 15px;
}
/* line 590, ../sass/style.scss */
.prog-html progress::-webkit-progress-value {
  border-radius: 15px;
  padding: 2px;
  background: #ff8c4e;
}
/* line 595, ../sass/style.scss */
.prog-html progress::-moz-progress-bar {
  background: #ff8c4e;
  border-radius: 15px;
}

/* line 601, ../sass/style.scss */
.prog-css progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 3px;
  background: #0A1028;
  border-radius: 15px;
  border-style: none;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.1);
}
/* line 610, ../sass/style.scss */
.prog-css progress::-webkit-progress-bar {
  background: #0A1028;
  border-radius: 15px;
}
/* line 614, ../sass/style.scss */
.prog-css progress::-webkit-progress-value {
  border-radius: 15px;
  padding: 2px;
  background: #3899d4;
}
/* line 619, ../sass/style.scss */
.prog-css progress::-moz-progress-bar {
  background: #3899d4;
  border-radius: 15px;
}

/* line 625, ../sass/style.scss */
.prog-js progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 3px;
  background: #0A1028;
  border-radius: 15px;
  border-style: none;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.1);
}
/* line 634, ../sass/style.scss */
.prog-js progress::-webkit-progress-bar {
  background: #0A1028;
  border-radius: 15px;
}
/* line 638, ../sass/style.scss */
.prog-js progress::-webkit-progress-value {
  border-radius: 15px;
  padding: 2px;
  background: #ffde56;
}
/* line 643, ../sass/style.scss */
.prog-js progress::-moz-progress-bar {
  background: #ffde56;
  border-radius: 15px;
}

/* line 649, ../sass/style.scss */
.prog-php progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 3px;
  background: #0A1028;
  border-radius: 15px;
  border-style: none;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.1);
}
/* line 658, ../sass/style.scss */
.prog-php progress::-webkit-progress-bar {
  background: #0A1028;
  border-radius: 15px;
}
/* line 662, ../sass/style.scss */
.prog-php progress::-webkit-progress-value {
  border-radius: 15px;
  padding: 2px;
  background: #505c91;
}
/* line 667, ../sass/style.scss */
.prog-php progress::-moz-progress-bar {
  background: #505c91;
  border-radius: 15px;
}

/* line 676, ../sass/style.scss */
.contact .contact-p {
  color: #E3E3E3;
  text-align: center;
  margin: 10px 10px 30px 10px;
}
/* line 681, ../sass/style.scss */
.contact .github-icon {
  color: #505c91;
}
/* line 684, ../sass/style.scss */
.contact .linkedin-icon {
  color: #0476b3;
}
/* line 687, ../sass/style.scss */
.contact .contact-icon {
  display: flex;
  flex-direction: column;
  width: 90px;
  align-items: center;
}
/* line 693, ../sass/style.scss */
.contact ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}
/* line 701, ../sass/style.scss */
.contact li {
  margin: 10px;
}
/* line 704, ../sass/style.scss */
.contact a {
  color: inherit;
  text-decoration: none;
  margin-top: 10px;
}

/* line 713, ../sass/style.scss */
input[type=checkbox]:checked ~ ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 0.85em;
}
/* line 720, ../sass/style.scss */
input[type=checkbox]:checked ~ ul li:hover a {
  padding: 15px 30px 13px 30px;
  border-bottom: 2px solid #E3E3E3;
}

@media screen and (max-width: 355px) {
  /* line 728, ../sass/style.scss */
  .menu-mobile {
    color: #E3E3E3;
    display: flex;
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  /* line 736, ../sass/style.scss */
  nav {
    flex-direction: column;
    height: inherit;
    align-items: center;
    justify-content: center;
  }
  /* line 741, ../sass/style.scss */
  nav ul {
    display: none;
    background-color: #2C324F;
  }
  /* line 744, ../sass/style.scss */
  nav ul a {
    display: flex;
    padding: 15px 60px;
    background-color: #2C324F;
  }
}
@media screen and (min-width: 364px) {
  /* line 754, ../sass/style.scss */
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }

  /* line 757, ../sass/style.scss */
  .project_description {
    grid-column: span 2;
  }
}
@media screen and (max-width: 500px) {
  /* line 763, ../sass/style.scss */
  .skill .skill-learn ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 646px) {
  /* line 769, ../sass/style.scss */
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }

  /* line 772, ../sass/style.scss */
  .project_description {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1040px) {
  /* line 778, ../sass/style.scss */
  .portfolio {
    grid-template-columns: repeat(4, 1fr);
  }

  /* line 781, ../sass/style.scss */
  .project_description {
    grid-column: span 4;
  }
}
